.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background add url image */
  background-image: url("../../assets/banner.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* background add url image opacity-color */
.swiper-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); /* overlay color */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom add---------my */
/* Move the right arrow 200px from the right */
/* .swiper-button-next {
  margin-right: 65px;
} */

/* Move the left arrow 200px from the left */
/* .swiper-button-prev {
  margin-left: 42px;
} */

/* Optional: styling arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  color: #f06225; /* arrow color */
}
